
@{
    ViewData["Title"] = "About";
}

    <div class="text-center">
        <h1>Assignmenet 7</h1>

        <p>This assignment is the second part of <span class="font-weight-bold red"> Assignment 7</span></p>
        <p>This assignment is about to create web application that:</p>
        <ul class="list-group">
            <li class="list-group-item">Shows all accounts on Home Pgae</li>
            <li class="list-group-item">Makes transfer between two accounts</li>
            <li class="list-group-item">Moves between accounts</li>
        </ul>

    </div>


