@page
@model About
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p> Assignment 7 <span style="font-weight: bold; color:red;">ASP.NET</span></p>
<p>The assignment is to create a web application for money transfer. </p>
<p>The application shows the accounts on home page</p>
