@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    
}

    <div class="text-center">
        <h1 class="display-4">Accounts</h1>


        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Label</th>
                    <th scope="col">Owner</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var account in Model.Accounts)
                {
                    <tr>
                        <th scope="row">@account.Number</th>
                        <td>@account.Balance</td>
                        <td>@account.Label</td>
                        <td>@account.Owner</td>
                    </tr>
                }
            </tbody>
        </table>



     


    </div>
