
* {
  margin: 0;
}


body {
  background-color: #FFE5D9;
  min-height: 400px;
  margin-bottom: 100px;
}

header {
  background-color: #9D8189;
  width: 100%;
  text-align: right;
}

a {
  color: black;
}

footer {
  background-color: #9D8189;
  bottom: 0;
  width: 100%;
  position: fixed;
  left: 0;
  color: white;
  text-align: center;
  font-size: 13px;
  font-family: "Arial";
  font-weight: lighter;
  overflow: auto;
}

.contacts{
  padding: 4px;
  font-style: normal;
  font-family: "Arial";
  color: black;
}

.myinfo {
  text-align: center;
  display: flex;
}

.myname {
  text-align: center;
  padding-top: 70px;
  margin-right: auto;
  margin-left: 30px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  color: #9D8189;
}

img {
  padding: 10px;
  display: block;
  margin-left: 0;
  margin-right: 0;
  overflow: auto;
}

.edu{
  font-size: 16px;
  font-weight: normal;
  color: black;
  padding: 7px;
}



.me{
  margin:12px;
  padding: 12px;
  height: 320px;
  width: 50%;
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial";
  color: #9D8189;
}

.quali{
  margin-left: 55%;
  margin-top: -358px;
  height: 150px;
  padding: 12px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial";
  color: #9D8189;
}

.merit{
  font-family: "Arial";
  font-weight: normal;
  padding: 5px;
  font-size: 16px;
  color: black;
}

.lang{
  margin-left: 55%;
  height: 90px;
  padding: 12px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial";
  color: #9D8189;
}

.languages {
  font-family: "Arial";
  font-weight: normal;
  padding: 5px;
  font-size: 16px;
  color: black;
}

em{
  font-weight: bold;
}

.about{

  text-align: center;
  border-width: thin;
  border-style: solid;

}

.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo{
  display: block;
  float: right;
}
